.bg-dawn-light {
    background-color: #212631;
}

.bg-dawn-light:focus {
    background-color: #212631;
}

.bg-dawn {
    background-color: #1d222b;
}

.bg-dawn:focus {
    background-color: #1d222b;
}

.border-gray {
    border-color: #373b45;
}

.gray-placeholder::placeholder {
    color: #a6a8ad;
}
