/* NotFound.module.css */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f4f4f4;
    padding-bottom: 150px;
}

.heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.errorCode {
    font-size: 1.5rem;
    color: #e74c3c;
    margin-bottom: 2rem;
}

button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}
